.carousel {
    .carousel-indicators {
        display: none;
    }

    .carousel-inner {

            .carousel-item {
                height: 85vh;

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    
                }

                .carousel-caption {

                    a > button {
                        background-color: transparent;
                        color: #F0EBE3;
                        margin: 20px;
                        padding: 10px;
                        font-weight: bold;
                        transition: 0.4s ease-in-out;
                        border: 1.5px solid #F0EBE3;
                        animation: pulse 1s infinite ease-in-out;
                        
                        &:hover {
                            background-color: transparent;
                            border: 1.5px solid rgb(233, 140, 26);
                            color: rgb(233, 140, 26);
                        }
                    }
                    
                    p {
                        color: #F0EBE3;
                        font-weight: bold;
                    }
                }
            }
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}